#header {
  padding: 15px 30px;
  background: #212121;
  color: whitesmoke;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .title {
    font-weight: 500;
    font-size: 16px;
  }

  & .sign-out {
    cursor: pointer;
    font-size: 13px;
  }
}
